body {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.result {
  font-size: 12px;
  line-height: 16px;
  padding: 16px;
  word-wrap: break-word;
  border-radius: 10px;
  background: var(--vscode-editor-background);
  animation: fade-in 0.5s;
}

.markdown-body p {
  margin-bottom: 1em;
  margin-top: 1em;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
